
// @import url(https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);
// @import url('/fonts/p/PT_Sans_Italic.ttf');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

// 100: xxs
// 300: xs
// 500: s
// 700: m
// 900: l
// 1100: xl
@media_max-width_xl: 1100px;
@media_max-width_l: 900px;
@media_max-width_m-l: 800px;
@media_max-width_m: 700px;
@media_max-width_s: 500px;
@media_max-width_xs-s: 400px;
@media_max-width_xs: 300px;
@media_max-width_xxs-xs: 200px;

@font-family: 
    'Caveat',
    // 'Iceberg',
    // 'Lucida Sans',
    // 'Pacifico',
    // 'Marck Script',
    // 'Lobster',
    // 'Press Start 2P',
    // 'PT Sans',
    // 'Brush Script MT', 'Brush Script Std',
    // 'Comic Sans MS', 'Comic Sans',
    cursive;
    
@font-size: 16px;




// ---------- GLOBAL ---------- //

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: @font-family;
    &::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }
    &::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #0d1424 url(../img/background.png) no-repeat center top;
}



// ---------- GLOBAL ---------- //
// ---------- IMPORTS ---------- //

#root {
    @import "root.less";
}

.clipboard {
    @import "clipboard/clipboard.less";
}

// ---------- IMPORTS ---------- //