@color-white-blue: #abced4;
@color-grey: #ddd;
@color-white-grey: #eee;

// @clipboard-background-image: url("../img/wood-texture.jpg");
@clipboard-background-image: url("../img/wood-texture-90.jpg");
@clipboard-clip-image: url("../img/wood-texture.jpg");
@clipboard-width: 400px;
@clipboard-height: 600px;
@clipboard-focus-width: 1000px;
@clipboard-focus-height: 1400px;
@clipboard-border-width: .3rem;
@clipboard-border-focus-width: .5rem;
@clipboard-border-radius: 3%/2%;

@clip-margin-top: 2%;

@papers-padding-top: 6%;
@paper-width: 90%;
@paper-height: 90%;

@red-line-color: @color-white-blue;
@red-line-left: 60px;
@red-line-width: 2px;
@red-line-focus-left: 100px;
@red-line-focus-width: 6px;
@red-line-focus-left-media-1: 50px;

@grid-color: @color-grey;
@grid-width: 2px;
@grid-line-height: 2rem;
@grid-line-unfocus-height: 1rem;
@glh: @grid-line-height;

@name-font-size: 250%;


//---------- REUSEABLE ----------//

.rotate_90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.lh1, .line-height-1 {
    height: @glh;
    display: inline-flex;
    align-items: flex-end;
}

//---------- REUSEABLE ----------//
//---------- BODY ----------//

&.clipboard {
    z-index: 3;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 15px black);
    cursor: pointer;
    &.active {
        display: flex;
        justify-content: center;
        position: fixed; 
        overflow-y: scroll;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(40,40,40, .5);
        align-items: flex-start;
        padding: 2rem;
        transform: unset;
        cursor: unset;
        .border {
            border-width: @clipboard-border-focus-width;
        }
        .clipboard__content {
            width: 100%;
            max-width: @clipboard-focus-width;
            height: @clipboard-focus-height;
        }
        .clipboard__name {
            display: none;
        }
    }
}

.clipboard__content {
    width: @clipboard-width;
    height: @clipboard-height;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-origin: top right;
    background-image: @clipboard-background-image;
    border-radius: @clipboard-border-radius;
    background-size: cover;
    background-position: center center;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: @clipboard-border-width solid rgba(0,0,0,.3);
    border-radius: @clipboard-border-radius;
}

.clipboard__clip {
    background: @clipboard-clip-image 0 0 no-repeat;
    background-size: cover;
    margin-top: @clip-margin-top;
    position: absolute;
    top: 1%;
    width: 80%;
    height: 7%;
    border-radius: 25%;
    z-index: 5;
    filter: 
        drop-shadow(2px 4px 6px black)
        grayscale(.3);
}

.papers {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    // align-items: flex-start;
    padding-top: @papers-padding-top;
    >:nth-child(1) {
        z-index: 3;
    }
    >:nth-child(2) {
        transform: rotate(1deg);
        z-index: 2;
    }
    >:nth-child(3) {
        transform: rotate(3deg);
        z-index: 1;
    }
}

.paper {
    width: @paper-width;
    height: @paper-height;
    position: absolute;
    border: 1px rgba(0, 0, 0, .5) outset;
    background-color: #fff;
    background-image:
        linear-gradient(
            @grid-color @grid-width, 
            transparent @grid-width
        );
    background-size: 100% @grid-line-unfocus-height;
    &.active {
        background-size: 100% @grid-line-height;
        background-image: linear-gradient(
            90deg, transparent @red-line-focus-left, @red-line-color @red-line-focus-left,
                @red-line-color (@red-line-focus-left + @red-line-width), 
                transparent (@red-line-focus-left + @red-line-width)
            ),
            linear-gradient(@grid-color @grid-width, transparent @grid-width);
        &:first-child {
            height: auto;
        }
    }
    &:not(.active) {
        * {display: none;}
    }
}

.clipboard__name {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: @name-font-size;
}

//---------- BODY ----------//
//---------- MEDIA ----------//

@media screen and (max-width: @media_max-width_xl){
    &.clipboard {
        &.active {
            padding: .5*@glh;
            padding-top: 2*@glh;
            .clipboard__content {
                width: 100%;
                min-height: 100%;
            }
            .clipboard__clip {
                border-radius: .2*@glh;
                width: 90%;
                height: 2*@glh;
            }
        }
    }
    .paper {
        width: 90%;
        &.active {
            background-image:
                linear-gradient(
                    @grid-color @grid-width, 
                    transparent @grid-width
                );
        }
    }
}

@media screen and (max-width: @media_max-width_s) {
    &.clipboard{
        display: flex;
        justify-content: center;
        position: relative;
        transform: unset;
        top: 0;
        left: 0;
        &.active {
            padding: @glh 0;
            .papers {
                overflow-x: clip;
                padding-top: 3*@glh;
                .paper {
                    width: 100%;
                }
            }
            .clipboard__clip {
                border-radius: .5*@glh;
                top: 2*@glh;
                width: 100%;
            }
        }
        .clipboard__clip {
            border-radius: .2*@glh;
        }
    }
}

@media screen and (max-width: @media_max-width_xs) {
    &.clipboard {
        &.active {
            .papers {
                padding-top: 5*@glh;
            }
            .clipboard__clip {
                top: 3.5*@glh;
            }
        }
        .clipboard__content {
            height: 16rem;
        }
        .clipboard__name {
            font-size: 150%;
            align-items: flex-start;
            padding: 2*@glh 0;
        }
        .clipboard__clip {
            height: @glh
        }
    }
}

//---------- MEDIA ----------//
//---------- IMPORTS (ENCAPSULATED) ----------//

.pages {
    @import "pages.less";
}

//---------- IMPORTS ----------//