@import "pages.less";

@color-white-blue: #abced4;
@color-white-grey: #eee;

@clipboard-background-image: url("../img/wood-texture.jpg");
@clipboard-width: 400px;
@clipboard-height: 600px;
// @clipboard-focus-scale: 3;
// @clipboard-focus-width: @clipboard-width*@clipboard-focus-scale;
// @clipboard-focus-height: @clipboard-height*@clipboard-focus-scale;
@clipboard-focus-width: 1200px;
@clipboard-focus-height: 1500px;
@clipboard-border-width: .5rem;
// @clipboard-border-focus-width: @clipboard-border-width*@clipboard-focus-scale;
@clipboard-border-focus-width: 1rem;
@clipboard-border-radius: 10px;

@papers-padding-top: 5%;
// @paper-width: @clipboard-focus-width * .9;
// @paper-height: @clipboard-focus-height * .9;
@paper-width: 90%;
@paper-height: 90%;
// @paper-height: floor(((@clipboard-focus-height * .9) / @grid-line-height)) 
//     * @grid-line-height;

@red-line-color: @color-white-blue;
@red-line-left: 10%;
@red-line-width: .4rem;

@grid-color: @color-white-grey;
@grid-width: .1rem;
@grid-line-height: 2rem;
@grid-line-unfocus-height: 1rem;



.clipboard {
    z-index: 3;
    position: absolute;
    right: 10%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: @clipboard-width;
    height: @clipboard-height;
    filter: drop-shadow(0 0 15px black);
    &.active {
        filter: blur(0);
        position: fixed; 
        overflow-y: scroll;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(40,40,40, .5);
        align-items: flex-start;
        padding: 2rem;
    }
}


.clipboard__content:before {
    background: @clipboard-background-image 0 0 repeat;
    border-radius: @clipboard-border-radius;
    content: "";
    position: absolute;
    width: @clipboard-height;
    // max-width: @clipboard-height*@clipboard-focus-scale;
    height: @clipboard-width;
    // max-height: @clipboard-width*@clipboard-focus-scale;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-size: cover;
    background-position: center center;
}

.clipboard__content {
    border-radius: @clipboard-border-radius;
    width: @clipboard-width;
    height: @clipboard-height;
    border: @clipboard-border-width solid rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // transform: scale(@clipboard-unfocus-scale);
    transform-origin: top right;
    // > * {
    //     display: none;
    // }
    &.active {
        // > * {
        //     display: block;
        // }
        width: @clipboard-focus-width;
        height: @clipboard-focus-height;
        border-width: @clipboard-border-focus-width;
        // transform: scale(1);
        // transform-origin: top;
        // overflow:hidden;
        // transform: none;
    }
    &.active:before {
        width: @clipboard-focus-height;
        height: @clipboard-focus-width;
        // transform: scale(@clipboard-focus-scale);
    }
}

.clipboard__clip {
    background: @clipboard-background-image 0 0 no-repeat;
    background-size: cover;
    // background-position: left top;
    position: absolute;
    top: 1%;
    width: 80%;
    height: 7%;
    border-radius: 5%;
    z-index: 5;
    // filter: brightness(.8);
    filter: drop-shadow(2px 4px 6px black)
        grayscale(.3);
    // background-color: silver;
    // filter: gray saturate(0%) brightness(70%) contrast(1000%);
    // background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);

}

.papers {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: @papers-padding-top;
    >:nth-child(1) {
        z-index: 3;
    }
    >:nth-child(2) {
        transform: rotate(1deg);
        z-index: 2;
    }
    >:nth-child(3) {
        transform: rotate(3deg);
        z-index: 1;
    }
}

.paper {
    // padding-bottom: @paper-padding-top;
    width: @paper-width;
    height: @paper-height;
    position: absolute;
    border: 1px rgba(0, 0, 0, .5) outset;
    // background-color: rgb(255, 250, 213);
    background-color: #fff;
    background-image: linear-gradient(
        90deg, transparent @red-line-left, @red-line-color @red-line-left,
            @red-line-color (@red-line-left + @red-line-width), 
            transparent (@red-line-left + @red-line-width)
        ),
        linear-gradient(@grid-color @grid-width, transparent @grid-width);
    background-size: 100% @grid-line-unfocus-height;
    &.active {
        background-size: 100% @grid-line-height;
        &:first-child {
            height: auto;
        }
    }
    &:not(.active) {
        * {display: none;}
    }
}

.page:not(.active) {
    display: none;
}