@font-size-scale: .7;
@glh: @grid-line-height;

@head-height-lines: 10;
@content-height-lines: 15;
@footer-height-lines: 1;

@red-line: @red-line-focus-left;
@red-line-media-1: @red-line-focus-left-media-1;


@page-padding-top: @grid-line-height*3;
@page-paddinng-left: @red-line;
@page-font-size: @grid-line-height*@font-size-scale;

@bookmarks-width: @red-line;
@bookmarks-font-size: @grid-line-height*.7;
@bookmarks-top: @grid-line-height*3;
@bookmarks-color-info: rgba(99, 185, 255, .6);
@bookmarks-color-educ: rgba(122, 255, 99, .6);
@bookmarks-color-work: rgba(255, 174, 99, .6);

@head-height: @grid-line-height*@head-height-lines;
// @head-title-grid-height: @grid-line-height;
@head-title-padding-bottom: 0;
@head-photo-height: 6*@glh;

@content-height: @grid-line-height*@content-height-lines;
// @content-list-font-size: .5*@grid-line-height;
@content-list-font-size: 1rem;

@footer-height: @grid-line-height*@footer-height-lines;




//---------- REUSABLES ----------//

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: @glh;
}

.flex-row-space-between, .frsb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.el, .empty-line {
    display: block;
    width: 100%;
    height: @glh;
    content: "";
}

.fsx2, .font-size-x2 {
    font-size: @page-font-size*2;
    height: @glh*2;
    line-height: 2*@glh;
}

.col-gap-1, .cg1 {
    display: flex;
    flex-direction: column;
    gap: @glh;
}

.pad-x-1, .px-1 {
    padding: 0 @glh;
}

.pad-left-1, .pl1 {
    padding-left: @glh;
}

.img-tran-x-1 {
    transform: translateX(.6rem);
}

.flex-justify-content-left, .fjcl {
    display: flex;
    justify-content: flex-start;
}

//---------- REUSABLES ----------//
//---------- BODY ----------//

.bookmarks {
    position: absolute;
    height: 50%;
    left: 0;
    top: @bookmarks-top;
    width: @bookmarks-width;
    font-size: 1.5*@bookmarks-font-size;
    .title {
        display: flex;
        justify-content: left;
        overflow: hidden;
    }
    .bm {
        cursor: pointer;
        height: 2*@glh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        padding: .5*@glh;
        transform: translateX(-100%);
        overflow: hidden;
        display: flex;
        align-items: center;
        &.active {
            width: 200%;
            transform: translateX(-50%);
        }
    }
    .bm:hover {
        background-color: rgba(0, 0, 0, .1);
    }
    #bm_info {
        background-color: @bookmarks-color-info;
    }
    #bm_educ {
        background-color: @bookmarks-color-educ;
    }
    #bm_work {
        background-color: @bookmarks-color-work;
    }
}

.page {
    width: 100%;
    height: 100%;
    padding-top: @page-padding-top;
    padding-left: @page-paddinng-left;
    padding-bottom: @glh;
    font-size: @page-font-size;
    // margin-bottom: 3*@glh;
    // display: grid;
    // grid-template-rows: @head-height @content-height @footer-height;
    // grid-template-rows: min-content;
    display: flex;
    flex-direction: column;
    gap: @glh;
    align-items: flex-start;
    &:not(&.active) {
        visibility: hidden;
        position: absolute;
        top: 5*@glh;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.page__head {
    height: @head-height;
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: auto 40%;
    column-gap: @grid-line-height;
    align-items: flex-start;
    gap: @glh;
    .title {
        grid-column: 1/3;
        grid-row: 1;
    }
    .photo {
        grid-column: 2;
        grid-row: 2;
        justify-self: flex-end;
        height: @head-photo-height;
        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            transform: translateX(1.2rem);
        }
    }
    .about {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        .item {
            line-height: @glh;
            text-align: right;
            .item__name {
                margin-right: .5*@glh;
                font-weight: 700;
                float: left;
            }
            .item__value {
                width: 100%;
            }
        }
    }

}


.page__content {
    width: 100%;
    p {
        line-height: @glh;
        text-indent: @glh;
    }
    .tiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: @glh;
    }
    .tile {
        flex-shrink: 1;
        flex-grow: 1;
        width: 35%;
        max-width: 50%;
        padding: 0 1rem;
        .tile__text {
            line-height: @glh;
        }
    }
    li {
        list-style: none;
        line-height: @glh;
        font-size: @content-list-font-size;
        display: flex;
        align-items: center;
        transform: translateY(.1rem);
        &::before {
            content: 
                // "■"
                // '-'
                // '>'
                // '╠'
                // '➥'
                // '▨'
                // '⇝'
                '⟿'
                ;
            align-self: flex-start;
            margin-right: 1rem;
            font-size: @content-list-font-size;
        }
    }
}

.page__footer {
    width: 100%;
    .link {
        word-break: break-all;
    }
}

//---------- BODY ----------//
//---------- MEDIA ----------//

@media screen and (max-width: @media_max-width_xl){
    .page {
        padding-left: 0;
        .page__head .title{
            text-align: center;
        }
    }
    .bookmarks {
        // font-size: @bookmarks-font-size;
        top: -2*@glh;
        height: 2*@glh;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 0;
        .bm {
            height: 100%;
            overflow: unset;
            display: flex;
            align-self: flex-end;
            transform: none;
            align-items: flex-start;
            padding: 0 .5*@glh;
            &.active {
                height: 2.5*@glh;
                transform: none;
            }
        }
    }
}

@media screen and (max-width: @media_max-width_l) {
    .font-size-x2, .fsx2 {
        height: auto;
    }
    .bookmarks {
        font-size: @bookmarks-font-size;
        top: -1.5*@glh;
        height: 1.5*@glh;
        .bm.active {
            height: 2*@glh;
        }
    }
    .page__head {
        grid-template-rows: auto;
        grid-template-columns: auto;
        height: auto;
        >* {
            width: 100%;
        }
        .title {
            grid-row: 2;
            grid-column: 1;
        }
        .photo {
            justify-content: flex-end;
            display: flex;
            grid-row: 1;
            grid-column: 1;
            // order: -1;
        }
        .about{
            grid-row: 3;
            grid-column: 1;
        }
    }
}

@media screen and (max-width: @media_max-width_m) {
    .page__content {
        .tile {
            width: 100%;
            max-width: 100%;
        }
    }
}

@media screen and (max-width: @media_max-width_s) {
    .pad-x-1, .px-1 {
        padding: 0 .5*@glh;
    }
    .title {
        word-break: break-all;
    }
    .bookmarks {
        width: 100%;
        top: -@glh;
        height: @glh;
        .bm {
            justify-content: center;
            height: 2*@glh;
            &.active {
                height: 2.5*@glh;
            }
        }
    }
    .page {
        padding-top: @glh;
    }
    .page__head {
        .title {
            text-align: center;
            overflow: hidden;
        }
        .about {
            display: flex;
            flex-direction: column;
            .item {
                flex-direction: column;
                >* {
                    min-height: @glh;
                    line-height: @glh;
                }
                .item__value {
                    text-align: right;
                }
            }
        }
        .photo {
            width: 100%;
            // height: 3*@glh;
            img {
                transform: translateX(.5*@glh);
            }
        } 
    }
    .page__content {
        .tiles {
            padding: 0;
        }
    }
    .page__footer {
        padding: 0
    }
}

@media screen and (max-width: @media_max-width_xs) {
    .bookmarks {
        top: -5*@glh;
        height: fit-content;
        flex-direction: column;
        .bm {
            justify-content: center;
            height: @glh;
            &.active {
                height: 2*@glh;
                width: 100%
            }
        }
    }
}

//---------- MEDIA ----------//
//---------- IMPORTS (ENCAPSULATED) ----------//

#page_info {
    @import "page-info.less";
}

// #page_educ {
//     @import "page_educ.less";
// }

//---------- IMPORTS ----------//